<button type="button" class="btn btn-primary" [routerLink]="['/pets/new']">Add a pet to the shelter</button>

<table *ngIf="allPets" class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let pet of petSorted'>
      <td>{{pet.name}}</td>
      <td>{{pet.type}}</td>
      <td>
        <button type="button" class="btn btn-primary" [routerLink]="['/pets/', pet._id]">Details</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/pets/', pet._id, 'edit']">Edit</button>
      </td>
    </tr>
  </tbody>
</table>